
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login-component.component.css">
    <title>Document</title>
</head>
<body>
     <div class="loginclass">
        <div class="loginclass_content" >
            <div class="loginclass_flex">
                <h1 class="Heading">UniCon</h1>
            </div>   
            <div class="useript">
                <div class="usernameipt">
                    <input type="text" class="username" placeholder=" Username or email">
                </div>

                <div class="usernamepwd">
                    <input type="password" class="userpwd" placeholder=" Password">
                </div>
                <div class="SignUpdiv">
                        <button class="signup">Sign Up</button>
                </div>  
                <div class="forgotpwdLink">
                    <a href="" rel="noreferrer nofollower" class="forgotpwd">Forgot Password ? </a>
                </div>
                <!-- <div class="messageLink">
                    <a href="" class="message" rel="noreferrer nofollower" >Don't have an account ? </a>
                    <p class="message">Don't have an account ? </p>
                </div> -->
            </div>     
        </div>
     </div>
</body>
</html> 