.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/360_F_223240002_6GAvK9B0uB4v5wGIkEiAUAOun4C4hwGd.jpg');
}


.main-center {
    background-color: white;
    display: flex;
    width: 30rem;
    justify-content: center;
    padding: 30px 55px 45px 55px;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--licorice);
}

.error-msg {
    animation-name: error;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes error {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);

    }
}

input {
    outline: none;
}

button {
    font-size: 20px;
    background-color: var(--infinity);
    color: var(--whiteEdgar);
}