<!-- Fonts Are directly Imported from Google fonts -->
<link rel="stylesheet" href="timetablelight.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,400;0,600;0,800;1,700&display=swap" rel="stylesheet">

<table id="tt" rules="rows">
    <tr>
        <td>
            <div class="lecture">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        Python
                    </div>
                </a>
    
                <div class="lectureTime">
                    8:45AM - 9:45AM
                </div>
    
                <div class="lectureClass">
                    410-C
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        JVC
                    </div>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="lecture current">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        Python
                    </div>
                </a>
    
                <div class="lectureTime">
                    9:45AM - 10:45AM
                </div>
    
                <div class="lectureClass">
                    410-C
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        JVC
                    </div>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="break">
                Break
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="lecture">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        P.S.
                    </div>
                </a>
    
                <div class="lectureTime">
                    11:30AM - 12:30PM
                </div>
    
                <div class="lectureClass">
                    303
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        BNS
                    </div>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="lecture">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        D.E.
                    </div>
                </a>
    
                <div class="lectureTime">
                    12:30PM - 1:30PM
                </div>
    
                <div class="lectureClass">
                    303
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        DVB
                    </div>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="lecture extra">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        F.S.D.
                    </div>
                </a>
    
                <div class="lectureTime">
                    1:30PM - 2:30PM
                </div>
    
                <div class="le">
                    506-A
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        ZKG
                    </div>
                </a>
            </div>
        </td>
    </tr>
</table>