<!-- Fonts Are directly Imported from Google fonts -->
<link rel="stylesheet" href="timetablelight.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,400;0,600;0,800;1,700&display=swap" rel="stylesheet">

<div class="lecture">
    <div class="subjectandlectureClassandlectureTime">
        <a href="Subject Info" class="subject" target="_blank">
            Python
        </a>

        <div class="lectureTime">
            8:45AM - 9:45AM
        </div>
    
        <div class="lectureClass">
            410-C
        </div>
    </div>

    <a href="Faculty Info" class="facaulty" target="_blank">
        JVC
    </a>
</div>

<div class="lecture" id="current">
    <div class="subjectandlectureClassandlectureTime">
        <a href="Subject Info" class="subject" target="_blank">
            Python
        </a>

        <div class="lectureTime">
            9:45AM - 10:45AM
        </div>
    
        <div class="lectureClass">
            410-C
        </div>
    </div>

    <a href="Faculty Info" class="facaulty" target="_blank">
        JVC
    </a>
</div>

<div id="break">
    Break
</div>
<div class="lecture">
    <div class="subjectandlectureClassandlectureTime">
        <a href="Subject Info" class="subject" target="_blank">
            P.S.
        </a>

        <div class="lectureTime">
            11:30AM - 12:30PM
        </div>
    
        <div class="lectureClass">
            303
        </div>
    </div>

    <a href="Faculty Info" class="facaulty" target="_blank">
        BNS
    </a>
</div>

<div class="lecture">
    <div class="subjectandlectureClassandlectureTime">
        <a href="Subject Info" class="subject" target="_blank">
            D.E.
        </a>

        <div class="lectureTime">
            12:30PM - 1:30PM
        </div>
    
        <div class="lectureClass">
            303
        </div>
    </div>

    <a href="Faculty Info" class="facaulty" target="_blank">
        DVB
    </a>
</div>

<div class="lecture" id="extra">
    <div class="subjectandlectureClassandlectureTime">
        <a href="Subject Info" class="subject" target="_blank">
            F.S.D.
        </a>

        <div class="lectureTime">
            1:30PM - 2:30PM
        </div>
    
        <div class="lectureClass">
            528-D
        </div>
    </div>

    <a href="Faculty Info" class="facaulty" target="_blank">
        ZKG
    </a>
</div>