#break {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--infinity);
    font-weight: 800;
    font-size: 25px;
    font-family: "Montserrat",sans-serif; ;
    width: 30rem;
    background: var(--gray);
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin: 0.4rem;
}

#current {
    background: #1d91a5f5;
}

/* #extra {
    display: none;
} */

.lecture a {
    text-decoration: none;
}

.lecture {
    width: 30rem;
    background: var(--gray);
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin: 0.4rem;
    cursor: default;
    font-family: "Montserrat",sans-serif; ;
    transition: all 500ms 100ms ease;
}

.lecture:hover:not(.cureent){
    background: #909dd5;
}

.subjectandlectureClassandlectureTime{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}


.subject {
    color: var(--infinity);
    padding: 0.2rem 2rem;
    font-weight: 600;
    
    transition: all 500ms 100ms ease;
}

.subject:hover ,.facaulty:hover{
    transform: scale(1.1);
    color: #ddd42ba1;
}

.facaulty {
    padding: 0.2rem 2rem;
    font-family: "Lato",sans-serif; ;
    font-weight: "Lato",sans-serif; ;
    color: var(--licorice);
    transition: all 500ms 100ms ease;
}

.lectureTime {
    display: inline;
    color: var(--infinity);
    padding: 0.2rem 2rem;
    font-weight: 400;
}

.lectureClass {
    display: inline;
    color: var(--infinity);
    padding: 0.2rem 2rem;
    font-weight: 600;
}