<!-- Fonts Are directly Imported from Google fonts -->
<link rel="stylesheet" href="timetablelight.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,400;1,600&display=swap" rel="stylesheet">

<table id="tt" rules="rows">
    <tr>
        <td>
            <div class="lecture">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        Python
                    </div>
                </a>
    
                <div class="lectureTime">
                    8:45 - 9:45AM
                </div>
    
                <div class="lectureTime">
                    410-C
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        JVC
                    </div>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="lecture current">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        Python
                    </div>
                </a>
    
                <div class="lectureTime">
                    8:45 - 9:45AM
                </div>
    
                <div class="lectureTime">
                    410-C
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        JVC
                    </div>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="break">
                Break
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="lecture">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        P.S.
                    </div>
                </a>
    
                <div class="lectureTime">
                    11:30 - 12:30PM
                </div>
    
                <div class="lectureTime">
                    303
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        BNS
                    </div>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="lecture">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        D.E.
                    </div>
                </a>
    
                <div class="lectureTime">
                    12:30 - 1:30PM
                </div>
    
                <div class="lectureTime">
                    303
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        DVB
                    </div>
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="lecture extra">
                <a href="Subject Info" target="_blank">
                    <div class="subject">
                        F.S.D.
                    </div>
                </a>
    
                <div class="lectureTime">
                    1:30 - 2:30PM
                </div>
    
                <div class="lectureTime">
                    506-A
                </div> <br>
    
                <a href="Faculty Info" target="_blank">
                    <div class="facaulty">
                        ZKG
                    </div>
                </a>
            </div>
        </td>
    </tr>
</table>

<!-- 
<table id="tt" rules="rows">
    <tr class="lecture">
        <td class="lectureTime">
            8:45 - 9:45AM
        </td>

        <td>
            <a href="Subject Info" target="_blank">
                <div class="subject">Python</div>
            </a>
            <a href="Faculty Info" target="_blank">
                <div class="facaulty">JVC</div>
            </a>
        </td>

        <td class="lectureClass">
            410-C
        </td>
    </tr>

    <tr class="lecture current">
        <td class="lectureTime">
            9:45 - 10:45AM
        </td>

        <td>
            <a href="Subject Info" target="_blank">
                <div class="subject">Python</div>
            </a>
            <a href="Faculty Info" target="_blank">
                <div class="facaulty">JVC</div>
            </a>
        </td>

        <td class="lectureClass">
            410-C
        </td>
    </tr>

    <tr id="breakRow">
        <td colspan="3">
            <div id="break">
                Break
            </div>
        </td>
    </tr>

    <tr class="lecture">
        <td class="lectureTime">
            11:30 - 12:30PM
        </td>

        <td>
            <a href="Subject Info" target="_blank">
                <div class="subject">P.S.</div>
            </a>
            <a href="Faculty Info" target="_blank">
                <div class="facaulty">BNS</div>
            </a>
        </td>

        <td class="lectureClass">
            303
        </td>
    </tr>

    <tr class="lecture">
        <td class="lectureTime">
            12:30 - 1:30PM
        </td>

        <td>
            <a href="Subject Info" target="_blank">
                <div class="subject">D.E.</div>
            </a>
            <a href="Faculty Info" target="_blank">
                <div class="facaulty">DVB</div>
            </a>
        </td>

        <td class="lectureClass">
            303
        </td>
    </tr>

    <tr class="lecture extra">
        <td class="lectureTime">
            1:30 - 2:30PM
        </td>

        <td>
            <a href="Subject Info" target="_blank">
                <div class="subject">F.S.D.</div>
            </a>
            <a href="Faculty Info" target="_blank">
                <div class="facaulty">ZKG</div>
            </a>
        </td>

        <td class="lectureClass">
            506-A
        </td>
    </tr>

</table> -->