<div class="container-fluid">
    <div class="row px-3 py-2">
        <div class="p-3 col-12 rounded d-flex align-items-center justify-content-around timetable-row">
            <div class="col">
                <div class="ps-5">
                    <p class="m-0 subject">PS</p>
                    <p class="m-0 faculty">SHP</p>
                </div>
            </div>
            <div class="col flex-center">
                <p class="m-0 time">8:45AM - 9:45AM</p>
            </div>
            <div class="col flex-center">
                <p class="m-0 classroom">408-A</p>
            </div>
        </div>
    </div>
    <div class="row px-3 py-2">
        <div class="p-3 col-12 rounded d-flex align-items-center justify-content-around timetable-row">
            <div class="col">
                <div class="ps-5">
                    <p class="m-0 subject">PS</p>
                    <p class="m-0 faculty">SHP</p>
                </div>
            </div>
            <div class="col flex-center">
                <p class="m-0 time">9:45AM - 10:45AM</p>
            </div>
            <div class="col flex-center">
                <p class="m-0 classroom">408-A</p>
            </div>
        </div>
    </div>
    <div class="row px-3 py-2">
        <div class="p-3 col-12 rounded d-flex align-items-center justify-content-around timetable-row-break">
            <p class="h1 m-0 fw-bold p-3">BREAK</p>
        </div>
    </div>
    <div class="row px-3 py-2">
        <div class="p-3 col-12 rounded d-flex align-items-center justify-content-around timetable-row">
            <div class="col">
                <div class="ps-5">
                    <p class="m-0 subject">Python</p>
                    <p class="m-0 faculty">ABC</p>
                </div>
            </div>
            <div class="col time flex-center">
                <p class="m-0">11:30AM - 12:30PM</p>
            </div>
            <div class="col flex-center">
                <p class="m-0 classroom">302</p>
            </div>
        </div>
    </div>
    <div class="row px-3 py-2">
        <div class="p-3 col-12 rounded d-flex align-items-center justify-content-around timetable-row">
            <div class="col">
                <div class="ps-5">
                    <p class="m-0 subject">Python</p>
                    <p class="m-0 faculty">ABC</p>
                </div>
            </div>
            <div class="col flex-center">
                <p class="m-0 time">12:30PM - 1:30PM</p>
            </div>
            <div class="col flex-center">
                <p class="m-0 classroom">302</p>
            </div>
        </div>
    </div>
</div>