.subject {
    font-size: 2rem;
    color: var(--infinity);
}

.faculty {
    font-size: 1.2rem;
}

.timetable-row {
    background-color: var(--whiteEdgar);
}

.classroom {
    font-size: 2rem;

}

.time {
    font-size: 1.5rem;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable-row-break {
    color: var(--whiteEdgar);
    background-color: var(--infinity);

}